@import '~assets/bootstrap-sass/_variables.scss';

.reporting-area
    float: right;
    @media (max-width: $screen-sm-min)
        float: none;
.form-control
    @media (max-width: $screen-sm-min)
        display: inline-block;
        width: auto;