<div class="main-area-top-nav">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <app-crumbsbread></app-crumbsbread>

            </div>

            <div class=" col-lg-offset-3 col-xs-10 col-sm-10 col-md-4 col-lg-4">
                <app-reporting></app-reporting>
            </div>

            <div class="col-xs-2 col-sm-2 hidden-lg hidden-md">
                <div class="mobile-menu pull-right" (click)="mobilleMenu()">
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>

</div>